* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.layout {
  position: relative;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.button-screenshot {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: x-large;
}

.button-screenshot:hover {
  transform: scale(1.1);
}

.button-screenshot:active {
  transform: scale(0.9);
}
